---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hello, I'm Earth (Vitawat Kitipatthavorn), a freelance Full Stack Developer specializing in implementing Machine Learning and AI in my projects. With a specific interest in NLP.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Engineering (International Program) at King Mongkut's University of Technology Thonburi (KMUTT)"
      subtitle="2023 to 2027 at KMUTT, Bangkok, Thailand"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="AI Builders Teaching Assistant 2023"
      subtitle="a program for kids who want to build good AI"
    >
    <a href="https://ai-builders.github.io/"> More Information</a>
    </TimeLineElement>
    <TimeLineElement
      title="Crossec"
      subtitle="System for supporting plant tissue laboratory by using artificial intelligence."
    >
    </TimeLineElement>
    <TimeLineElement
      title="Policytracka 2023"
      subtitle="Creativity from political policy"
    >
    </TimeLineElement>
    <TimeLineElement
      title="TERMDAi 2023"
      subtitle="System for supporting thai classical singing by using artificail intelligence."
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://coursera.org/share/a4b01c5f9bcc6145b39a5aa524e3dc7f" target="_blank">Foundations: Data, Data, Everywhere</a>
    </li>
    <li>
      <a href="https://coursera.org/share/52e919d409b0eae59baa3f5f2b65be22" target="_blank">Ask Questions to Make Data-Driven Decisions</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Pytorch</li>
    <li>Scikit-learn</li>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>ReactJS</li>
    <li>NextJS</li>
    <li>TypeScript</li>
    <li>NodeJS</li>
    <li>ExpressJS</li>
    <li>FastAPI</li>
    <li>Flask</li>
  </ul>
</BaseLayout>
